coc
configstore
go
lazygit
coc

nvim/pack/github/start
karabiner
iterm2/AppSupport
dlv
enchant
github-copilot
dconf
skhd/skhdrc

google-chrome
vlc
wslu
pulse
nvim/pack/airblade/start/vim-gitgutter
nvim/sync.sh
